.categoryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.categoriesVertical {
  display: block;
}

.categoriesHorizontal {
  display: flex;
  justify-content: space-around;
}

.categoriesNone {
  display: none;
}

.categories a {
  padding: 1rem;
}
