.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #f2eefd;
  height: 120px;
  width: 160px;
  cursor: pointer;
  border-radius: 8px;
  color: #9977ef;
}

.categoryItemServices {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  border-radius: 1rem;
  border: 2px #e6e6e6 solid;
  padding: 1rem;
  height: auto;
  background-color: white;
  text-decoration: none;
}
.categoryItemServices h3 {
  font-weight: 500 !important;
}
.categoryName {
  text-decoration: none;
  font-weight: 500;
}

.icon {
  width: 48px;
  height: 48px;
}
