.categoriesNone {
  display: none;
}

.categories a {
  padding: 1rem;
}

.link {
  text-decoration: none;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.categoriesLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
