.categoryContainer {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.categoriesNone {
  display: none;
}

.categories a {
  padding: 1rem;
}
.link {
  text-decoration: none;
}
