.topbar {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

.userName {
  font-size: 1rem;
  color: white;
}
