.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

.userName {
  font-size: 1rem;
  color: black;
}
.logoAndNavigationContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.loginButton {
  background-color: #8056eb;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
