.pannel {
  margin: auto;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.workTimeButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.panelButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.workTimeButtons button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.workTimeButtons button:hover {
  background-color: #8056eb;
  color: white;
  transform: scale(1.05);
}

.workTimeButtons button:disabled {
  background-color: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
}
