.categoriesVertical {
  display: grid;
  row-gap: 2rem;
}

.categoriesHorizontal {
  display: flex;
  justify-content: space-around;
}

.categoriesNone {
  display: none;
}

.categories a {
  padding: 1rem;
}
