.searchContainer {
  display: flex;
  margin: 2rem auto;
  width: 30%;
  gap: 1rem;
}

.searchInput {
  transition:
    box-shadow 100ms ease-in,
    border 100ms ease-in,
    background-color 100ms ease-in;
  color: rgb(14, 14, 16);
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #dee1e2;
  border-radius: 30px;
  width: 100%;

  &:hover {
    border-color: #ccc;
  }
}
.Button {
  padding: 0.75rem 1.25rem;
  background-color: #8056eb;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition:
    box-shadow 100ms ease-in,
    border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  display: block;
  outline: none;

  &:hover {
    border-color: #ccc;
  }

  &:focus {
    border-color: #9147ff;
    background: #fff;
  }
}
.ciSearchIcon {
  font-size: 24px;
}
