.avatarDropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  width: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 5px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: black;
}

.dropdownOptions {
  display: flex;
  flex-direction: column;
}

.myAccount {
  padding: 8px 16px;
  background: none;
  color: black;
  display: block;
  margin-bottom: 0.2em;
}
