.container {
  height: 100%;
  padding-top: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: rgba(86, 20, 208, 0.25) 5px 5px 15px;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.input {
  margin-bottom: 1rem;
  width: 100%;
}

.link {
  margin-top: 2rem;
  text-align: center;
}
.field {
  width: 100%;
}

.signUp {
  color: var(--primary-color);
  font-weight: 500;
}

.error {
  font-size: 0.9rem;
  color: red;
  margin-bottom: 1rem;
}
.inputsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.loginButtonInForm {
  background-color: #8056eb;
}
.registerLink {
  text-decoration: none;
  color: #8056eb;
  font-weight: 500;
}
