.heroContainer {
  padding-top: 2rem;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  line-height: 5rem;
}

.subtitle {
  color: #a8a8a8;
  font-size: 1.5rem;
  padding: 1rem;
}
.highlightedText {
  color: #8056eb;
}
