.servicesContainer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
}
.filteredServicesPageContainer {
  padding: 4rem;
  display: flex;
  gap: 1rem;
}
.servicesFilteredPageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flexContainer {
  display: flex;
  width: 100%;
  gap: 3rem;
}
.categoriesWrapper {
  width: 100%;
  display: flex;
  flex: 0 0 30%;
}

.businessesWrapper {
  display: flex;
  width: 100%;
  flex: 0 0 70%;
  flex-wrap: wrap;
}
.bussinessListInServicePageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row !important;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.bussinessListInServicePageContainer .linkContainer {
  flex: 0 1 calc(33.33% - 1rem);
  box-sizing: border-box;
  margin-bottom: 1rem;
}
